﻿
<h1>Меню администратора</h1>
<ul style="list-style-type:disc;">
    <li>@Html.ActionLink("Управление заказами","ManageOrders")</li>
    <li>@Html.ActionLink("Управление категориями","ManageCategories")</li>
    <li>@Html.ActionLink("Управление товарами","ManageAllProducts")</li>
    <li>@Html.ActionLink("Управление характеристиками","ManageAllCharacteristics")</li>
    <li>@Html.ActionLink("Управление городами","ManageCities")</li>
</ul> 