﻿@using Arshinov.WebApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
}

@*<style>
  input:invalid {
    border-color: rgba(255, 3, 0, 0.27); /* Красный цвет фона */
  }
  .clean-block {
    background-color: rgba(0, 0, 0, 0);
  }
  .text-info {
    color: orange !important;
  }
  .clean-block.clean-form form {
    border-top: 2px solid orange !important;
    background-color: #fff;
    max-width: 500px;
    margin: auto;
    padding: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .075);
  }
  .btn-primary {
    border-color: orange !important;
    background-color: white !important;
    color: orange !important;
  }
  .btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem orange !important;
  }
</style>*@

<main class="page login-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Вход</h2>
            </div>

            @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {}))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new {@class = "control-label"})

                    @Html.TextBoxFor(m => m.Email, new {@class = "form-control item"})
                    @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})

                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new {@class = "control-label"})

                    @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})

                </div>
                <div class="form-group">
                    <div >
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <input type="submit" value="Выполнить вход" class="btn btn-primary btn-block"/>
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Регистрация нового пользователя", "Register")
                </p>
            }

            @* Включите, когда будет включено подтверждение учетной записи для функции сброса пароля
                                                    <p>
                                                        @Html.ActionLink("Забыли пароль?", "ForgotPassword")
                                                    </p>*@
        </div>
    </section>
</main>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}